<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nkast.Kni.Platform.SDL2.GL" version="4.2.9001.1" targetFramework="net48" />
  <package id="nkast.Xna.Framework" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Audio" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Content" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Game" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Graphics" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Input" version="4.2.9001" targetFramework="net48" />
  <package id="nkast.Xna.Framework.Media" version="4.2.9001" targetFramework="net48" />
  <package id="Speckle.Triangle" version="1.0.0" targetFramework="net48" />
</packages>